.terminal-container {
    position: absolute;
    font-family: 'VT323', monospace;
    font-weight: 500;
    width: 900px;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.title {
    font-size: 1.5em;
    padding-left: 2px;
    line-height: 1.5em;
}

.name {
    font-size: 3em;
    color: whitesmoke;
}

.career {
    font-size: 3em;
    color: gray;
}

.home-content {
    font-family: 'Roboto Mono', sans-serif;
    padding-left: 2px;
    white-space: pre-wrap;
    line-height: 1.8em;
}

.cursor-blink {
    position:relative;
    bottom: 1.3px;
    right: 5px;
}