header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 20px 70px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

header .logo {
    font-family: 'VT323', monospace;
    color: #6FC38E;
    text-decoration: none;
    /* width: 50px; */
    /* background-color: white; */
    font-size: 1.5em;
    padding: 5px 5px;
}

header ul {
    display: flex;
}

header ul li {
    font-family: 'VT323', monospace;
    list-style: none;
    margin-left: 40px;
    font-size: 1.5em;
    letter-spacing: 0px;
}

header ul li a::before {
    content: "<";
    margin-right: 3px;
}

header ul li a::after {
    content: "/>";
    margin-left: 3px;
}

header ul li a {
    color: #6FC38E;
    text-decoration: none;
    user-select: none;
    padding: 3px 5px;
}

header ul .active {
    background-color: #6FC38E;
    color: whitesmoke;
    padding: 3px 5px;
}

header ul li a:hover {
    background-color: #6FC38E;
    color: whitesmoke;
}
