footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 20px 70px;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

footer ul {
    display: flex;
}

footer ul li {
    list-style: none;
    margin-left: 50px;
    font-size: 1.5em;
    text-decoration: none;
}

footer ul li a {
    color: whitesmoke;
}

footer ul li a .svg-inline--fa {
    transition: 0.6s;
}

footer ul li a:hover .svg-inline--fa {
    transform: rotate(360deg) scale(1.5);
}

footer .decorative-line-start {
    width: 80px;
}

footer .decorative-line-end {
    margin-left: 50px;
    width: 80px;
}